*

!*/

!Cargo.toml
!Cargo.lock
!JTC_1701/*
!memdevice/*
!README.md
!septivigntimal/*
!ternary/*

!JTC_1701/*.rs
!memdevice/*.rs
!septivigntimal/*.rs
!ternary/*.rs

!JTC_1701/**/**/*.rs
!memdevice/**/**/*.rs
!septivigntimal/**/**/*.rs
!ternary/**/**/*.rs
